# ==========================================
# DATABASE CONFIG
# ==========================================
DB_NAME=lists_database
DB_USER=postgres
DB_PASSWORD=password
# Local Dev Database URL (Docker will override this internally in production)
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}

# ==========================================
# AUTHENTICATION (Google OAuth)
# ==========================================
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
# Generate a random 32+ char string (e.g. `openssl rand -hex 32`)
AUTH_SECRET=your_random_secret_string

# ==========================================
# URLS & PORTS
# ==========================================
# API Server Port (Default: 3001)
API_PORT=3001
# Vite Dev Server Port (Default: 3000)
APP_PORT=3000
# The public URL of your frontend (where users visit)
APP_URL=http://localhost:3000

# Comma-separated list of allowed origins for CORS
ALLOWED_ORIGINS=http://localhost:3000

# ==========================================
# VITE ENV
# ==========================================
# The public URL of your API (where the frontend sends requests)
# NOTE FOR PROD: This MUST be added to your GitHub Actions Variables as 'VITE_API_URL'
VITE_API_URL=http://localhost:3001

# The public URL of your Umami instance (where the frontend sends stat logs)
# NOTE FOR PROD: This MUST be added to your GitHub Actions Variables as 'VITE_UMAMI_URL'
VITE_UMAMI_URL=https://stats.example.com

# The website ID for your Umami instance
# NOTE FOR PROD: This MUST be added to your GitHub Actions Variables as 'VITE_UMAMI_WEBSITE_ID'
VITE_UMAMI_WEBSITE_ID=

# ==========================================
# DEPLOYMENT CONFIG
# ==========================================
# Github username and project name is used for ghcr.io private images.
# Github username should be lowercase, and if in a github organization, should match the organization name.
# PROJECT_NAME should match github repository name to keep local builds consistent with github workflow.
PROJECT_NAME=lists
GITHUB_USERNAME=your_github_username
CLOUDFLARE_TUNNEL_TOKEN=your_token_here
UMAMI_DB_PASSWORD=your_password_here
UMAMI_APP_SECRET=your_random_secret_string
UMAMI_TRACKER_SCRIPT_NAME=send.js