API_PORT=3001
APP_PORT=3000
APP_URL=http://localhost:3000
DATABASE_URL="postgres://postgres:password@localhost:5432/shopping_list"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=
ALLOWED_ORIGINS=http://localhost

VITE_API_URL="http://localhost:3001"